<div class="gameboard container hide">
    <div class="navigation sticky">
        <div class="ribbon">
            <div class="container">
                <div class="ribbon-container">
                    <div class="ribbon-item ribbon-item-hoverable" onclick="CloseGameBoard()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left m-3 mr-0" style="height: 1.5rem;">
                            <line x1="19" y1="12" x2="5" y2="12"></line>
                            <polyline points="12 19 5 12 12 5"></polyline>
                        </svg>
                    </div>
                    <div class="ribbon-item ribbon-item-grow">
                        <p class="text-center"><%= basic.name %></p>
                    </div>
                    <div class="ribbon-item ribbon-item-hoverable pad-right" id="navActionSearch">
                        <svg viewBox="0 0 24 24" width="24" height="24" stroke="gray" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                            <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
                            <polyline points="16 6 12 2 8 6"></polyline>
                            <line x1="12" y1="2" x2="12" y2="15"></line>
                        </svg>
                    </div>
                    <div class="ribbon-item ribbon-item-hoverable" id="navActiveMenu">
                        <svg viewBox="0 0 24 24" width="24" height="24" stroke="gray" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                            <line x1="8" y1="6" x2="21" y2="6"></line>
                            <line x1="8" y1="12" x2="21" y2="12"></line>
                            <line x1="8" y1="18" x2="21" y2="18"></line>
                            <line x1="3" y1="6" x2="3.01" y2="6"></line>
                            <line x1="3" y1="12" x2="3.01" y2="12"></line>
                            <line x1="3" y1="18" x2="3.01" y2="18"></line>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="question-container">
        <div class="card-control-overlay">
            <div class="prev-overlay overlay-text" onclick="prevCard()">Back</div>
            <div class="space-overlay" onclick="PreviewOverlay()"></div>
            <div class="next-overlay overlay-text" onclick="nextCard()">Next</div>
        </div>
        <% for ( var i = 0; i < questions.length; i++ ) { %>
            <div class="question <%= ( i == 0 ) ? " question-active" : " " %>" data-card="<%= i %>">
                <div class="question-text"><%= questions[ i ].question %></div>
            </div>
        <% } %>
    </div>
    <div class="controller">
        <button onclick="prevCard()" style="margin-right: 1rem;">Back</button>
        <button onclick="nextCard()">Next</button>
    </div>
</div>
