/* Game Page */
#page_game.container {
    margin-top: 8rem;
}

#page_game h1 {
    margin: 0.5rem 0 0.2rem 0;
}

#page_game h2 {
    margin: 0 0 2rem 0;
    font-size: 1rem;
    font-weight: 100;
}

#page_game .controller {
    position: absolute;
    left: 0;
}

/* Page Error */
#page_error.container {
    margin-top: 8rem;
}

/* Button Button Controller */
.controller {
    display: flex;
    width: calc( 100% - 2rem );
    position: sticky;
    bottom: 0;
    margin: 0 1rem 1rem 1rem;
    background: white;
    justify-content: center;
}

.controller button, .controller a {
    width: 100%;
}

@media ( min-width : 600px ){
    .controller button {
        max-width: calc( 150px + 1rem );
    }
}


/* Gameboard */
.gameboard {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 99999;
    background: white;

    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.gameboard .navigation.sticky .ribbon {
    position: sticky;
}

.gameboard .question-container {
    background: whitesmoke;
    background-image: repeating-radial-gradient( circle at 0 0, transparent 0, rgb(255 255 255 / 20%) 20px ), repeating-linear-gradient( #ffffff55, rgb(165 165 165 / 20%) );
    margin: 0rem 1rem 1rem 1rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 1rem 1rem 8rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 7px 2px rgb(0 0 0 / 10%);
    z-index: 9999;
    transition: all 0.2s;
}
@media ( min-width : 600px ){
    .gameboard .question-container {
        margin: 2rem auto;
        width: 300px;
        height: 400px;
        flex-grow: 0;
    }
}

.gameboard .question-container.flip {
    transform: scaleX( 0 );
}

.gameboard .question-container .question .question-text {
    font-size: 1.6rem;
    font-weight: bold;
}

.gameboard .question-container .question {
    display: none;
}

.gameboard .question-container .question.question-active {
    display: block;
}