/* Game Page */
#page_game.container {
    margin-top: 8rem;
}

#page_game h1 {
    margin: 0.5rem 0 0.2rem 0;
}

#page_game h2 {
    margin: 0 0 2rem 0;
    font-size: 1rem;
    font-weight: 100;
}

/* Page Error */
#page_error.container {
    margin-top: 8rem;
}

/* Button Button Controller */
.controller {
    display: flex;
    width: calc( 100% - 2rem );
    position: absolute;
    bottom: 1rem;
}

.controller button, .controller a {
    width: 100%;
}


@media ( min-width : 600px ){
    .controller {
        position: relative;
    }

    .controller button {
        max-width: 200px;
    }
}


/* Gameboard */
.gameboard {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 99999;
    background: white;
}

.gameboard .question-container {
    margin: 20rem 0 2rem 0;
}

.gameboard .question-container .question .question-text {
    font-size: 1.8rem;
    font-weight: bold;
}

.gameboard .question-container .question {
    display: none;
}

.gameboard .question-container .question.question-active {
    display: block;
}