<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include( "partials/header.ejs" ) %>
    <title>Deckmainia | Error</title>
</head>
    <body>
        <div class="container" id="page_error">
            <h1><%= message %></h1>
            <p><%= description %></p>
            <br>
            <div class="controller">
                <a href="/"><button>Go Home</button></a>
            </div>
        </div>
    </body>
</html>