<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include( "partials/header.ejs" ) %>
        <title>Deckmainia | Options</title>
    </head>
    <body class="theme_light">
        <div class="navigation sticky">
            <div class="ribbon">
                <div class="container">
                    <div class="ribbon-container">
                        <div class="ribbon-item ribbon-item-hoverable" onclick="window.history.back();">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left m-3 mr-0" style="height: 1.5rem;">
                                <line x1="19" y1="12" x2="5" y2="12"></line>
                                <polyline points="12 19 5 12 12 5"></polyline>
                            </svg>
                        </div>
                        <div class="ribbon-item showScrolled ribbon-item-grow">
                            <p>Deckmainia Options</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="page_home">
            <div class="header small">
                <h1>Options</h1>
                <h2 class="mute">Deckmainia Beta</h2>
            </div>

            <br>

            <p><a target="_blank" href="https://github.com/SellersEvan/deckmania/issues/new?labels=Card%2FDeck%20Ideas&title=New+Card+or+Deck+Ideas&body=There+should+be+a+card+or+deck+that...">Submit Deck/Card Idea</a></p>
            <p><a target="_blank" href="https://github.com/SellersEvan/deckmania/issues/new?labels=bug">Submit Bug Report</a></p>
            <p><a target="_blank" href="https://github.com/SellersEvan/deckmania/issues/new?labels=question">Question</a></p>
            <p><a target="_blank" href="https://github.com/SellersEvan/deckmania/wiki/Privacy-Policy">Privacy Policy</a></p>
            <p><a target="_blank" href="https://github.com/SellersEvan/deckmania/">Github</a></p>
            <br>
            <p class="text-center">We (the creators of Deckmainia) are not responsible in anyway for contented posted on this website/app. Use and browser content at your own risk.</p>
        </div>
    </body>
</html>
