<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include( "partials/header.ejs" ) %>
    <title>Deckmainia | Preview <%= basic.name %></title>
</head>
    <body class="theme_light">
        <%- include( "navigation/peak.ejs" ) %>

    </body>
</html>