.navigation {
    background: inherit;
}

.navigation.sticky .ribbon {
    position: fixed;
}

.navigation .ribbon {
    position: absolute;
    width: 100%;
    background: inherit;
    z-index: 9;
    top: 0;
    transition: box-shadow 0.3s;
    background: white;
}

.theme_light .navigation.isScrolled .ribbon {
    box-shadow: 1px 1px 50px 1px rgb(0 0 0 / 5%);
}

.theme_dark .navigation .ribbon {
    border-bottom: 1px rgb(0, 0, 0) solid;
}

.theme_dark .navigation.isScrolled .ribbon {
    border-bottom: 1px rgb(20, 20, 20) solid;
}

.navigation .ribbon .container .ribbon-container {
    display: flex;
    justify-content: space-between;
}

.navigation .ribbon .container .ribbon-container .ribbon-item {
    display: flex;
    height: 1.5rem;
    padding: 0.35rem;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.navigation .ribbon .container .ribbon-container .ribbon-item.ribbon-item-grow {
    flex-grow: 1;
}

.navigation .ribbon .container .ribbon-container .ribbon-item.pad-right {
    margin-right: 1rem;
}

.navigation .ribbon .container .ribbon-container .ribbon-item.pad-left {
    margin-left: 1rem;
}

.navigation .ribbon .container .ribbon-container .ribbon-item.ribbon-item-hoverable {
    transition: background 0.3s;
    border-radius: 0.3rem;
    cursor: pointer;
}

.navigation .ribbon .container .ribbon-container .ribbon-item.ribbon-item-hoverable:hover,
.theme_light .navigation .ribbon .container .ribbon-container .ribbon-item.ribbon-item-hoverable:hover {
    background: rgb(230, 230, 230);
}

.theme_dark .navigation .ribbon .container .ribbon-container .ribbon-item.ribbon-item-hoverable:hover {
    background: rgb(20, 20, 20);
}

.navigation .ribbon .container .ribbon-container .ribbon-item.showScrolled {
    opacity: 0;
    transition: opacity 0.5s;
}

.navigation.isScrolled .ribbon .container .ribbon-container .ribbon-item.showScrolled {
    opacity: 1;
}

.navigation .header {
    margin: 8rem 0 4rem 0;
}

.navigation .header.small {
    margin: 8rem 0 0 0;
}

.navigation .header h1 {
    margin: 0rem;
    font-weight: 800;
    font-size: 2.2rem;
}

.navigation .header h2 {
    margin: 0.5rem 0rem 0rem 0rem;
    font-weight: 100;
    font-size: 1rem;
    opacity: 0.5;
}
