.badge {
    background: black;
    color: white;
    width: fit-content;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
}

.mute {
    opacity: 0.5;
}

.text-center {
    width: 100%;
    text-align: center;
}